.mainContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #cd5c5c;
}

.searchbarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.searchbarContainer h3 {
}
.searchbarContainer input {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border-color: #cd5c5c;
}

.loginContainer {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.loginContainer button {
  border: none;
  background-color: #cd5c5c;
  border-color: #cd5c5c;
  cursor: pointer;
}

.loginContainer button:hover {
  color: white;
}
